body {
	margin: 0;
	font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.125rem;
	color: '#65350f';
	background-color: rgb(221, 243, 221);
	line-height: 1.3;
	overflow: hidden;
}

#react-paginate ul {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgb(221, 243, 221);
	border-color: #65350f;
}

#react-paginate li {
	display: inline-block;
	background-color: rgb(221, 243, 221);
}

#react-paginate li.active {
	background-color: mediumseagreen;
}
.page-item.active .page-link {
	z-index: 3;
	color: white;
	background-color: #65350f;
	border-color: #65350f;
}

.page-link {
	color: mediumseagreen;
	background-color: rgb(221, 243, 221);
}
.page-link:hover {
	color: mediumseagreen;
	background-color: rgb(221, 243, 221);
}
